.footer-wrapper{
    width:100%;
   margin-top:20px;
   background-color: #fffffe;

    .footer-slider{    
     display: flex;
     align-items: center;
     justify-content:space-between;
     overflow: hidden;
     position: relative;

     .slide{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        overflow: hidden;
        max-width:240px;
        width:100%;
        margin-right:5px;
        cursor: pointer;

        .cover{
          opacity:0;
            background: rgba(255, 255, 255, 0.8);
            transition: all 0s ease 0s, all 0.3s ease 0s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            cursor: pointer;

            a{
                text-decoration: none;
                color:#3a3335;
                font-size:1.2rem;
                margin-top:5px;
            }
            .at{
                width:30px;
                height:30px;
            }
        }
     }
     .slide:hover .cover{
       opacity: 1;
   }
    
    }

}